
/*Estilos predeterminados generales*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.bg1 {
  background-color: #030303;
}
.bg2 {
  background-color: #0e0f0d;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h3 {
  text-transform: uppercase;
  font-size: 30px;
}
/*Estilo por elementos*/
/*navbar*/
.navtop {
  position: fixed;
  top: 40px;
  width: 100%;
  background-color: #030303;
  z-index: 1;
}
.navtop .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.container .logo img{
  display: block;
}
.navbar a {
  text-decoration: none;
  color: #02c6ee;
  padding: 30px;
  text-transform: uppercase;
}
/*header*/
header {
  height: 950px;
  background: url("bg-header.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.headertitle {
  width: 50%;
  text-align: center;
  position: absolute;
  top: 48%;
  left: 25%;
}
.headertitle p {
  margin: 53px 0px 0px 0px;
  font-size: 20px;
  color: white;
  font-weight: lighter;
}
.headertitle button {
  margin-top: 100px;
  height: 50px;
  width: 250px;
  background-color: rgba(255, 255, 255, .8);
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  color: #02c6ee;
  font-size: 23px;
  font-weight: bold;
}
/*Who we are*/
.who {
  height: 500px;
  color: #02c6ee;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whoweare {
  width: 850px;
  position: absolute;
  left: 20%;
  top: 165%;
}
.whoweare h3 {
  font-weight: bold;
}
.whoweare p {
  font-size: 19px;
  font-weight: lighter;
  line-height: 30px;
  margin-top: 40px;
}
/*values*/
.values, .priorities{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  height: 350px;
}
.value {
  width: 25%;
  color: white;
}
.value h5 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 18px;
}
.value p {
  font-weight: lighter;
  line-height: 25px;
}
/*priorities*/
#priorities {
  background: url('bg-priorities.jpg');
  background-size: cover;
  height: 900px;
  padding: 90px 0;
}
#priorities h2 {
  text-transform: uppercase;
}
#priorities .intro{
  color: #02c6ee;
  text-align: center;
}
#priorities .intro h2 {
  font-size: 30px;
}
#priorities .intro p {
  width: 80%;
  margin-left: 100px;
  padding: 30px 20px;
  font-size: 20px;
  line-height: 30px;
}
.priority-box {
  width: 30%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 350px;
  text-align: center;
  display: flex;
  align-items: center;
}
.priority {
  width: 50%;
  margin-left: 90px;
}
.priority .company{
  text-transform: uppercase;
  padding: 30px 20px;
}
.priority .name {
  text-transform: uppercase;
  padding: 30px 20px 0px 20px;
}
.priority span {
  font-family: serif !important;
  font-size: 18px;
}
/* whatwedo*/
#whatwedo {
  height: 900px;
  text-align: center;
}
.whatwedo {
  display: flex;
  justify-content: center;
}
.whatwedo .text{
  color: #02c6ee;
  padding: 90px 0;
  font-weight: lighter;
  width: 50%;
}
.whatwedo .text p {
  font-size: 19px;
  line-height: 30px;
  padding-bottom: 40px;
}
.whatboxes {
  display: flex;
  justify-content: center;
}
.whatboxes .whatbox{
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  height: 400px;
  justify-content: space-around;
}
.whatboxes .whatbox .sport {
  height: 400px;
  width: 300px;
}
.sport img{
  padding: 40px 0;
}
.sport .text {
  margin-left: 50px;
  width: 200px;
}
.sport .sporttitle {
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.sport span {
  text-align: center;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
/*review*/
.review {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #02c6ee;
}
.textrev {
   margin-top: 80px;
  width: 800px;
  font-size: 20px;
}
.review p {
  margin-top: 0;
  padding-top: 35px 0;
}
/*Nature*/
#nature {
  height: 673px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bg-nature.jpg");
  background-repeat: no-repeat;
  background-position: right;
}
#nature .naturetext {
  width: 50%;
}
#nature .naturetext .text {
    color: #02c6ee;
    text-align: left;
    width: 80%;
    height: 400px;
}
#nature .naturetext .text h3 {
  font-size: 40px;
  font-weight: lighter;
  padding: 20px 10px 10px 0px;
}
#nature .naturetext .text  {
  font-size: 20px;
  font-weight: lighter;
  padding: 0px 0px 0px 20px;
}
/*buy tickets*/
#tickets {
  height: 650px;
  background: url("bg-buy.jpg");
  background-size: cover;
}
#tickets .buytickets {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
#tickets .buytickets .buy {
  width: 27%;
  margin-top: 200px;
}
#tickets .buytickets .buy .buytext {
  color: rgba(255, 255, 255, 0.9);
}
#tickets .buytickets .buy .buytext h2 {
  text-transform: uppercase;
  text-align: right;
  font-size: 55px;
  line-height: 50px;
}
#tickets .buytickets .buy .buytext p {
  font-size: 17px;
  text-align: justify;
  width: 80%;
  margin-left: 55px;
}
#tickets .buytickets .buy button {
  height: 48px;
  width: 160px;
  background-color: rgba(255, 255, 255, .8);
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  color: #02c6ee;
  font-size: 20px;
  margin-left: 150px;
  margin-top: 20px;
}
/*dates*/
#dates {
  height: 200px;
}
#dates .dates {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#dates .dates .date {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, .7);
  line-height: 30px;
}
/*About*/
#info {
    height: 325px;
}
#info .info {
  height: 325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  width: 100%;
}
#info .info .about {
  width: 30%;
  height: 150px;
  margin-left: 50px;
  color: white;
}
#info .info h4, h5 {
  text-transform: uppercase;
}
#info .info .about h4 {
  font-size: 25px;
}
#info .info .about p {
  width: 80%;
  font-size: 20px;
  line-height: 26px;
}
#info .info .links {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#info .info .links .link {
  padding: 0 70px;
  color: white;
}
#info .info .links .link h5 {
  font-size: 20px;
  padding-bottom: 40px;
}
#info .info .links .link p {
  padding-bottom: 5px;
  margin: 0;
  font-size: 20px;
}
footer {
  background-color: #02c6ee;
  height: 15px;
}
